.text {
  text-align: center;
  font-family: 'Open Sans';
  font-size: 14px !important;
  margin-top: 20px;
  margin-bottom: 20px;
  display: block;
  color: #54698D;
  max-width: 236px;
  margin-left: auto;
  margin-right: auto;
}

.button {
  width: 100%;
  max-width: 332px;
  min-width: 220px !important;
  height: 34px !important;
  margin-bottom: 20px !important;
  display: block !important;
  margin-left: auto !important;
  margin-right: auto !important;
}

.svg {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
