.topDiv {
  max-width: 332px;
  margin-left: auto;
  margin-right: auto;
}

.svg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  color: #54698D;
}

.topText {
  text-align: center;
  font-family: 'Open Sans';
  font-size: 13px !important;
  margin-bottom: 20px;
  display: block;
  color: #54698D;
  margin-top: 20px;
}

.text {
  text-align: center;
  font-family: 'Open Sans';
  font-size: 13px !important;
  margin-top: 40px;
  margin-bottom: 20px;
  display: block;
  color: #54698D;
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
}

.pinText {
  text-align: center;
  display: block;
  font-size: 24px !important;
  margin-bottom: 30px;
  color: #54698D;
}

.button {
  width: 100%;
  max-width: 332px;
  min-width: 220px !important;
  height: 34px !important;
  margin-bottom: 20px !important;
  margin-left: 0px !important;
  margin-top: 8px !important;
}

.copyText {
  font-size: 13px;
  font-family: 'Open Sans';
  text-align: center;
  margin-right: 10px;
}

.clientId {
  margin-bottom: 12px;
  margin-top: 12px;
}

.clientSecret {
  margin-bottom: 19px ;
}
